body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.control-view {
    position: fixed;
    top: 0;
}

.live-view {
    height: 100vh;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
}
.top-3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}
.column-rank {
    background-color: #fe2c55;
    width: 200px;
}
.unit-uni {
    max-width: 200px;
}
.avatar-uni {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.code-uni {
    background-color: cyan;
    /* border-radius: 20px; */
    padding: 20px;
    font-size: x-large;
    text-align: center;
    font-weight: 700;
}
.top5below {
    background-color: aqua;
    min-width: 300px;
    /* flex: 1 */
}
.img-uni {
    width: auto;
    height: 180px;
}