body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.control-view {
    position: fixed;
    top: 0;
}

.live-view {
    height: 100vh;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
}
.top-3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}
.column-rank {
    background-color: #fe2c55;
    width: 200px;
}
.unit-uni {
    max-width: 200px;
}
.avatar-uni {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.code-uni {
    background-color: cyan;
    /* border-radius: 20px; */
    padding: 20px;
    font-size: x-large;
    text-align: center;
    font-weight: 700;
}
.top5below {
    min-width: 300px;
    /* flex: 1 */
}
.img-uni {
    width: auto;
    height: 180px;
}

.card {
    width: 350px;
    height: 100%;
    background: #E8EAEA;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title,
.more {
    padding: 10px 15px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.user__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.user__container {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 900;
    font-size: 1.3em;
}

.name {
    font-weight: 800;
}

.username {
    font-size: .9em;
    color: #64696e;
}

.image {
    width: 60px;
    height: 60px;
    background: rgb(22, 19, 70);
    background: linear-gradient(295deg, rgba(22, 19, 70, 1) 41%, rgba(89, 177, 237, 1) 100%);
    border-radius: 50%;
    margin-right: 15px;
}

.follow {
    border: none;
    border-radius: 25px;
    background-color: #0f1113;
    color: white;
    padding: 8px 15px;
    font-weight: 700;
}

.more {
    display: block;
    text-decoration: none;
    color: rgb(29, 155, 240);
    font-weight: 800;
}

.user:hover {
    background-color: #b3b6b6;
}

.more:hover {
    background-color: #b3b6b6;
    border-radius: 0px 0px 15px 15px;
}

.follow:hover {
    background-color: #2c3136;
}